.container-trailer {
    position:relative;
    width: 100%;
<<<<<<< HEAD
    height: 400px;
    
=======
    height: 300px;
    display:none;
    animation-name: example;
    animation-duration: 4s;
>>>>>>> c7edef4c84612ca99f1eb24d0ae47c7e48b24ab0
    
}
.video-trailer{
    padding: 0px 10px;
    margin:0;
    position: relative;
    height:100%;
}

.container-trailer iframe{
    width: 100%;
    height: 90%;
}
@keyframes example {
    0%   { top:200px;}
      
    25%  {top:0px;}
  
    50% { top:0px;}
  }