<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/public/styles/mainShop.css" type="text/css">
</head>

<body>
    <div>
        <!-- AQUI VA EL COMPONENTE HEADER -->
    </div>

    <div>
        <!-- AQUI VA EL COMPONENTE BUSCADOR -->
    </div>

    <!-- CARDS DE MOVIES -->
    
    <div class="contenedor--movies">
        <% movies.moviesArr.forEach(function(movie) { %>
            <div class="contenedor--movies--card">
                <%- include('../components/movieCardComponent.ejs', movie) %>
            </div>
            <% }); %>
    </div>

    <script src="/public/scripts/mainShop.js"></script>
</body>

</html>