<%- include('../partials/head', {title : 'Movie Detail', style:
'movieDetail.css'}) %> <%- include('../partials/body') %>
<nav>navbar</nav>
<main><%- include('../partials/movie-detail') %></main>
<%- include('../partials/foot') %>
