<%- include('../partials/head', {title : 'Movie Detail', style:
'movieDetail.css'}) %> <%- include('../partials/body') %>
<link rel="stylesheet" href="/public/styles/shoppingCart.css">
<link href="/public/styles/navbar.css" rel="stylesheet">
<main>
    <%- include('../partials/movie-detail') %>
    

</main>
<%- include('../partials/foot') %>