<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/styles/shoppingCart.css" rel="stylesheet">
</head>
<body>
    <%- include('../components/shoppingCart.ejs') %>

    <div>
        <button class ="carrito" onclick="addToCart(601796)" >Add to cart</button>
    </div>
    <div>
        <button class ="carrito" onclick="openCart()">Abrir carrito</button>
    </div>
    <div>
        <button class ="carrito" onclick="closeCart()" >cerrar carrito</button>
    </div>
    <script src="/public/scripts/shoppingCart.js" ></script>
</body>
</html>