  
  <div class="contenedor-carousel">
        <div class="carousel">
            <div class="carousel__contenedor">
                <div class="carousel__lista" id="glider1">
                    <% for(let i = 0; i < actors.length; i++) {%>
                    <div class="carousel__elemento" >
                        <img src="<%= actors[i].profile_path %>" alt="<%= actors[i].name %>">
                        <div class="titulo1">
                            <p class="carousel__titulo"> <%= actors[i].name %></p>
                        </div>
                        
                    </div>
                   <% } %>
                </div>            
            </div>
            <div role="tablist" id="dots1" class="carousel__indicadores"></div>
        </div>
    </div>
