  
  <div class="contenedor-carousel">
        <div class="carousel">
            <div class="carousel__contenedor">
                <div class="carousel__lista" id="glider1">
                    <%  const act = actors.forEach((actor) =>{
                        actor.credits.forEach((result) => {
                             
                       %>
                    <div class="carousel__elemento" >
                        <img src="<%= result.actors.profile_path %>" alt="<%= result.actors.name %>">
                        <div class="titulo1">
                            <p class="carousel__titulo"> <%= result.actors.name %></p>
                        </div>
                        
                    </div>
                   <% 
                })
                }) %>
                </div>            
            </div>
            <div role="tablist" id="dots1" class="carousel__indicadores"></div>
        </div>
    </div>
