  
  <div class="contenedor-carousel2">
        <div class="carousel2">
            <div class="carousel__contenedor2">
                <div class="carousel__lista2" id="glider2">
                    <% for(let i = 0; i < actors.length; i++) {%>
                    <div class="carousel__elemento2" >
                        <img src="<%= actors[i].profile_path %>" alt="<%= actors[i].name %>">
                        <div class="titulo2">
                            <p class="carousel__titulo2"> <%= actors[i].name %></p>
                        </div>
                        
                    </div>
                   <% } %>
                </div>            
            </div>
            <div role="tablist" id="dots2" class="carousel__indicadores2"></div>
        </div>
    </div>
