<div class="container-switcher">
    <div class="synopsis">
        <%- include('./synopsis.ejs') %>
    </div>
    <div class="trailer">

    </div>
    <div class="recommended">

    </div>
    <div class="casting">

    </div>
    <h1>Synopsis</h1>
    <a href="<%= include('./synopsis.ejs') %>"> Synopsis </a>
    <h1>Trailer</h1>
</div>

