<div class="container-switcher">
    <div class="synopsis">
        <%- include('./synopsis.ejs') %>
    </div>
    <div class="trailer">
        <%- include('./movieTrailer.ejs') %>
    </div>
    <div class="recommended">
        <%- include('./carousel.ejs') %>

    </div>
    <div class="casting">
        

    </div>
    <h1>Synopsis</h1>
    <a href="<%= include('./synopsis.ejs') %>"> Synopsis </a>
    <h1>Trailer</h1>
</div>

<style>
    
</style>