<div class="container-switcher">
  <div class="synopsis" id="synopsis">
    <h1>Synopsis</h1>
    <%- include('./synopsis.ejs') %>
    <a href="#trailer"
      >Trailer
        <div class="arrow"></div>
    </a>
  </div>
  <div class="trailer" id="trailer">
    <h1>Trailer</h1>
    <%- include('./movieTrailer.ejs') %>
    <a href="#recommended"
      >Recommended
        <div class="arrow"></div>
    </a>
  </div>
  <div class="recommended" id="recommended">
    <h1>Recommended</h1>
    <%- include('./carousel.ejs') %>
    <a href="#casting"
      >Casting
         <div class="arrow"></div>
    </a>
  </div>
  <div class="casting" id="casting">
    <h1>Casting</h1>
    <%- include('./carousel-actor.ejs') %>
    <a href="#synopsis"
      >Synopsis
        <div class="arrow"></div>
    </a>
  </div>
</div>

<style>
  .container-switcher {
    display: block;
    position: relative;
    width: 100%;
    background-color: #02021c;
  }

  .container-switcher h1 {
    max-width: 800px;
    width: 90%;
    padding: 50px;
    color: #fff;
    font-size: 50px;
  }
  .container-switcher a {
    padding-left: 47%;
    text-decoration: none;
    color: #fff;
  }

  /* .arrow {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }

  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  } */
</style>
