
<div class="container-trailer">
    <h1>Trailer</h1>
    

</div>

<style>
    .container-trailer {
        max-width: 800px;
        width: 90%;
        padding: 10px;
    }
    .container-trailer h1{
        color: aquamarine;
    }



</style>