<header class="header">
<div class="izHeader">
    <button class="logo" id="home" href="../">
        <img src="../../../public/assets/icons/logo_coexbuster.svg" width="80px" alt="">
    </button>
</div>
</header>

