<header class="header">
<div class="izHeader">
    <a class="logo" href="./index.html">
        <img src="../../../public/assets/icons/logo_coexbuster.svg" width="80px" alt="">
    </a>
</div>
</header>

