<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order component</title>
    <link rel="stylesheet" href="/public/styles/orderComponent.css">
</head>

<body>
    <div class="component--order">
        <% info.forEach((product)=>{ %>
            <div class="component--order__size">
                <div>
                    <%= product.date %>
                </div>
                <div>
                    <%= product.products.length %> movies
                </div>
                
            </div><img src="/public/assets/icons/angle-small-right-free-icon-font.svg" width="30px">
            <% }); %>
    </div>
</body>

</html>