<div class="container-synopsis">
    <p>
        <%= info %>
    </p>

</div>

<style>

    /* .container-synopsis{
        position: relative;
        width: 100%;
        background-color: #02021C;
    }
    .container-synopsis h1{
        max-width: 800px;
        width: 90%;
        padding: 50px;
        color: #fff;
        font-size: 50px;
    } */
    .container-synopsis p {
        color:#fff;
        padding: 50px;
        font-size: 25px;
        justify-content: center;
    }
</style>